a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.box {
    display: inline-flex;
    width: 90px;
    height: 90px;
    background: #eeeeee;
    justify-content: center;
    line-height: 161.8%;
    font-size: 36pt;
}

.box a {
    color: #222222;
    width: 100%;
    text-align: center;
    line-height: 90px;
}

.in {
    font-size: 36pt;
}

#submit {
    height: 86px;
}