html, body {
    padding 0px;
    margin 0px;
}

.m-n1 {
    margin: 0.125rem !important;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.nav {
    color: #ffffff !important;
}

.minion-top, .kinda {
    background: #FFD55E !important;
}

.minion-bottom {
    background: #6F8FAF !important;
}

.correct {
    background: #4CBB17 !important;
}

.wrong {
    background: #8F1C2A !important;
}

.box, .box a {
    display: inline-flex;
    width: 80px;
    height: 80px;
    background: #eeeeee;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.75em;
    line-height: 1.75;
    color: #222222 !important;
}

.in {
    font-size: 2.75em;
}

#submit {
    height: 80px;
}

#inputGroup {
    border-radius: 10px;
}

#notification {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0.5rem !important;
}

#difficulty {
    background: #888888;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0.5rem !important;
}