.m-n1 {
    margin: 0.125rem !important;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.nav {
    color: #ffffff !important;
}

.minion-top, .kinda {
    background: #FFD55E !important;
}

.minion-bottom {
    background: #6F8FAF !important;
}

.correct {
    color: #ffffff;
    background: #4CBB17 !important;
}

.wrong {
    color: #ffffff;
    background: #8F1C2A !important;
}

.box, .box a {
    display: inline-flex;
    width: 80px;
    height: 80px;
    background: #eeeeee;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.75em;
    line-height: 1.75em;
    color: #222222 !important;
}

.box-nav {
    display: inline-flex;
    width: 250px;
    height: 141px;
    background: #eeeeee;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.75em;
    line-height: 2.75em;
    color: #ffffff !important;
}

.box-nav-wordle {
    display: inline-flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    vertical-align: middle;
    font-size: 0.45em;
    line-height: 1.2;
}

.box-nav-wordle-title {
    display: inline-table;
}

.in {
    font-size: 2em;
}

#submit {
    height: 62px;
}

#inputGroup {
    border-radius: 10px;
}

#notification {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0.5rem !important;
}

#difficulty {
    background: #888888;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0.5rem !important;
}

/*********************************************/
/*********************************************/
/*********************************************/

.sounds {
    background-image: url("/img/sounds.png");
}

.box-nav-sounds-title {
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 0.125em;
    text-align: center;
}

.sounds-attempt {
    box-sizing: content-box;
    background: rgba(0,0,0,0.1);
    height: 32px;
    font-size: 1.25em;
    overflow: hidden;
    padding: .5rem!important;
    margin-left: 0.5em!important;
    margin-right: 0.5em!important;
}

#track-information {
    color: #ffffff;
    background: rgba(0,0,0,0.5);
}

#track-art {
    width: 100px;
    height: 100px;
    background-image: url("/img/default.jpg");
}

.line {
    position: absolute;
    border-right: solid;
    border-color: #333333;
    height: 50px;
}

.line-hidden {
    background: #555555;
}

#progress-text {
    position: absolute;
    font-size: 2em;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
}

progress[value]::-webkit-progress-bar {
    background-color: #aaaaaa;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.play-ready {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 2.4em;
    padding: 0px!important;
    margin: 0px!important;
    max-height: 38px;
    transform: translate(0px, -12px);
}

/*********************************************/
/*********************************************/
/*********************************************/

.place {
    background-image: url("/img/place.png");
}

.box-nav-place-title {
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 0.125em;
    text-align: center;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.canvas-container {
    width: 1252px;
    height: 707px;
    margin: auto;
    border: solid;
    border-color: #222222;
    border-width: 1px!important;
    overflow: auto;
}

.border-primary {
    border-width: 3px!important;
}

.cbox, .cbox a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #eeeeee;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.75em;
    line-height: 1.75;
    color: #222222 !important;
    cursor: pointer;
    margin-right: 0.175rem;
}