@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.m-n1 {
    margin: 0.125rem !important;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.nav {
    color: #ffffff !important;
}

.minion-top, .kinda {
    background: #FFD55E !important;
}

.minion-bottom {
    background: #6F8FAF !important;
}

.navbar-fixed-bottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.navbar-fixed-bottom a {
    color: #DC143C;
}

.box, .box a {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: #dddddd;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2em;
    line-height: 1.85em;
    color: #222222 !important;
}

.box-nav {
    display: inline-flex;
    width: 250px;
    height: 141px;
    background: #eeeeee;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.75em;
    line-height: 2.85em;
    color: #ffffff !important;
}

.box-nav-wordle {
    display: inline-flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    vertical-align: middle;
    font-size: 0.45em;
    line-height: 1.3em;
}

.box-nav-wordle-title {
    display: inline-table;
}

.text {
    font-size: 2em;
}

#submit {
    height: 62px;
}

#input {
    position: relative;
    border-radius: 10px;
}

.next {
    position: absolute;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    right: 0;
    top: 0;
    width: 5rem;
    height: 100%;
    text-align: center;
    line-height: 3.4em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#notification {
    margin-bottom: 0.5rem !important;
}

#difficulty {
    background: #888888;
}

.shaded {
    background: #eeeeee;
    padding: 1em;
    border-radius: 5px;
}

/*********************************************/
/*********************************************/
/*********************************************/

.wordle {
    background-image: url("/img/wordle.webp");
}

.box-nav-wordle-title {
    width: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
}

.keyboard {
    margin-top: 16px;
}

.keyboard-key, .submit-key, .backspace-key {
    font-size: .75em;
    font-weight: bold;
    border: 0;
    padding: 0px;
    margin: 1px -1px 1px -1px;
    min-width: 31px;
    height: 58px;
    border-radius: 4px;
    user-select: none;
    text-transform: uppercase;
    background-color: darkgray;
    color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}

.submit-key, .backspace-key {
    min-width: 48px!important;
}



/*********************************************/
/*********************************************/
/*********************************************/

.rseye {
    background-image: url("/img/rseye.webp");
}

/*********************************************/
/*********************************************/
/*********************************************/

.heardle {
    background-image: url("/img/heardle.webp");
}

.box-nav-heardle-title {
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 0.125em;
    text-align: center;
}

.sounds-attempt {
    box-sizing: content-box;
    background: rgba(0,0,0,0.1);
    height: 32px;
    font-size: 1.25em;
    overflow: hidden;
    padding: .5rem!important;
    margin-left: 0.5em!important;
    margin-right: 0.5em!important;
    border-radius: 5px;
}

#track-information {
    color: #ffffff;
    background: #555555;
}

#track-art {
    width: 100px;
    height: 100px;
    background-image: url("/img/default.webp");
}

.line {
    position: absolute;
    border-right: solid;
    border-color: #333333;
    height: 50px;
}

.line-hidden {
    background: #555555;
}

.rounded-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#progress-text {
    position: absolute;
    font-size: 2em;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    border-radius: 5px;
}

.play-ready {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 2.4em;
    padding: 0px!important;
    margin: 0px!important;
    max-height: 38px;
    transform: translate(0px, -12px);
}

.play, .help, .giveup {
    width: 49%;
    height: 50px;
    position: relative;
    line-height: 35px;
}

.wrong {
    color: #ffffff;
    background: #8F1C2A;
}

/*********************************************/
/*********************************************/
/*********************************************/

.place {
    background-image: url("/img/place.webp");
}

.box-nav-place-title {
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 0.125em;
    text-align: center;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.canvas-container {
    position: absolute;
    margin: auto;
    background: #ffffff;
    top: 58px;
    left: 25px;
    overflow: auto;
}

#canvas-controller {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    background: rgba(0,0,0,0.1);
    overflow: hidden;
}

#coords {
    padding: 0.5rem;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    top: 5px;
    left: 5px;
    border-radius: 5px;
}

#lastPixelUpdate {
    padding: 0.5rem;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
}

#colours, #coords, #lastPixelUpdate {
    position: absolute;
}

#colours {
    top: 10px;
}

.border-primary {
    border-width: 3px!important;
}

.cbox, .cbox a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #eeeeee;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.75em;
    line-height: 1.75em;
    color: #222222 !important;
    cursor: pointer;
    margin-right: 0.175rem;
}

/* */

.element-pop {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transition: transform 0.2s;
    animation-name: pop;
    animation-duration: 0.2s;
}

.incorrect, .incorrect-keyboard, .kinda, .kinda-keyboard, .correct, .correct-keyboard {
    color: #FFFFFF !important;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.incorrect {
    color: #ffffff;
    background: #A2A2A2;
}

.incorrect-keyboard {
    color: #ffffff;
    background: #626262;
}

.kinda {
    color: #ffffff;
    background: #FFD55E;
}

.kinda-keyboard {
    color: #ffffff;
    background: #FFD55E;
}

.correct {
    color: #ffffff;
    background: #4CBB17;
}

.correct-keyboard {
    color: #ffffff;
    background: #4CBB17;
}

/* */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50vw;
}