<div class="minion-top p-3">
    <div class="container">
        <h1 class="display-4">"Booba" 👀</h1>
        <p class="lead">Wipes comically large bead of sweat from forehead.</p>
    </div>
</div>
<div class="navbar shadow-sm p-2 minion-bottom">
    <div class="container text-center">
        <a class="nav" href="/">Apps</a>
        <div class="form-inline my-2 my-lg-0 text-white">
            Made with ❤️ by <a class="text-danger" href="https://github.com/BasketBandit" target="_blank">Josh</a>
        </div>
    </div>
</div>
