<title>Banana</title>
<meta name="description" content="Loved by minion enthusiasts.">
<meta name="author" content="Joshua Hunt">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.color-2.2.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/general.css" />