<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head"></head>
    <body>
        <div th:replace="banner"></div>
        <div class="container mt-2">
            <a class="box-nav border wordle m-n1" href="/words/">
                <div class="box-nav-wordle-title">
                    <span class="box-nav-wordle m-n1 correct">W</span>
                    <span class="box-nav-wordle m-n1 correct">O</span>
                    <span class="box-nav-wordle m-n1 correct">R</span>
                    <span class="box-nav-wordle m-n1 correct">D</span>
                    <span class="box-nav-wordle m-n1 correct">L</span>
                    <span class="box-nav-wordle m-n1 correct">E</span>
                </div>
            </a>
            <a class="box-nav border m-n1" href="/sounds/">
                Heardle?
            </a>
            <a class="box-nav border place m-n1" href="/place/">
                <div class="box-nav-place-title">🗺️</div>
            </a>
        </div>
    </body>
</html>