<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head"></head>
    <body>
        <div class="shadow-sm p-4">
            <div class="container px-4">
                <h1 class="display-4">Words</h1>
                <p class="lead">Loved by minion enthusiasts.</p>
            </div>
        </div>

        <div class="container text-center mt-3">
            <div class="input-group mb-3">
                <input type="text" class="in form-control" th:maxlength="${length}" th:minlength="${length}" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)">
                <div class="input-group-append">
                    <button id="submit" class="btn btn-outline-secondary" type="button">Submit</button>
                </div>
            </div>

            <div th:id="a+${x}" th:each="x:${#numbers.sequence(1, 5, 1)}" th:data_id="${x}">
                <div th:id="l+${y}" class="box border m-1" th:each="y:${#numbers.sequence(1, length, 1)}" th:data_id="${y}"></div>
            </div>

            <div id="notification"></div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function() {
                var words = [[${words}]];
                var wordLetters = [[${word}]].split("");
                var attempts = [];
                var finished = false;

                function submitAttempt() {
                    if(attempts.length > 4 || finished) {
                        return;
                    }

                    var attempt = $(".in").val().toUpperCase();

                    // validates an attempt for length and if it is a dictionary word
                    if(attempt.length < wordLetters.length || !words.includes(attempt)) {
                        return;
                    }

                    attempts.push(attempt);
                    var index = attempts.length-1;
                    var letters = attempts[index].split("")
                    var correctPosition = 0;
                    for(var i = 1; i < letters.length+1; i++) {
                        $("#a"+(index+1)+" #l"+i).text(letters[i-1])
                        if(letters[i-1] == wordLetters[i-1]) {
                            $("#a"+(index+1)+" #l"+i).css('background', '#00ff00');
                            correctPosition++;
                        } else if(wordLetters.includes(letters[i-1])) {
                            $("#a"+(index+1)+" #l"+i).css('background', '#FFBF00');
                        }
                    }
                    if(correctPosition == wordLetters.length) {
                        finished = true;
                    }
                }

                $(".in").keydown(function(e){
                     if(e.keyCode === 13) {
                           submitAttempt();
                     }
                });

                $('.btn').on('click', function() {
                    submitAttempt();
                })
            })
        </script>

    </body>
</html>