<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <fragment th:replace="meta"></fragment>
        <fragment th:replace="stylesheet"></fragment>
    </head>
    <body oncontextmenu="return false;">
        <div th:replace="banner"></div>
        <div class="container mt-2">
            <h2 class="btn btn-lg btn-success w-100">How many letters do you want in the word?</h2>
            <a class="box border m-n1" th:href="${'/wordle/' + letterLength}" th:each="letterLength : ${letters}">
                <div th:text="${letterLength}"></div>
            </a>
        </div>
    </body>
</html>